APP_ENV=local
PHP_XDEBUG_CLIENT_HOST=192.168.88.17
PHP_XDEBUG_MODE=debug
PHP_XDEBUG_START_WITH_REQUEST=yes
PHP_XDEBUG_IDE_KEY=DOCKER_XDEBUG
PHP_XDEBUG_CLIENT_PORT=9001
PHP_PROFILER_ENABLE=1
PHP_PROFILER_OUTPUT_DIR=/var/www/html/storage/logs
